In [2]:
import tweepy
from textblob import TextBlob
from wordcloud import WordCloud
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import json

In [3]:
with open("secrets.json") as content:
    secrets = json.load(content)

In [4]:
apiKey = secrets.get("apiKey")
apiSecret = secrets.get("apiSecret")
accessToken = secrets.get("accessToken")
accessTokenSecret = secrets.get("accessTokenSecret")

In [5]:
auth = tweepy.OAuthHandler(apiKey, apiSecret)
auth.set_access_token(accessToken, accessTokenSecret)
twitterAPI = tweepy.API(auth, wait_on_rate_limit=True)

In [45]:
#scrape for tweets about the snyder cut
tweets = tweepy.Cursor(twitterAPI.search, q='#snydercut', max_id=None, count=None, exclude_replies=True, trim_user=True, contributor_details=False, include_entities=False, lang='en', since='2021-03-17').items(1300)

In [46]:
#store for analysis
tweets_df = pd.DataFrame(data=[tweet.text for tweet in tweets], columns=['Tweet'])

In [47]:
tweets_df.head()

                                               Tweet
0  RT @brookstweetz: I‚Äôm so glad these shots exis...
1  RT @carolinamunhoz: Jack Snyder‚Äôs Justice Leag...
2  RT @TaurooAldebaran: Diana's heels must be one...
3  RT @ray8fisher: Random Thought:\n\nGetting a s...
4  @Lesdoggg Let's gooooo #SnyderCut #superman ht...

In [75]:
def preprocessing(raw):
    raw = re.sub(r'@[A-Za-z0-9_]+[:]?', ' ', raw)
    raw = re.sub(r'#', ' ', raw)
    raw = re.sub(r'RT ', ' ', raw)
    raw = re.sub(r'https?:\/\/[A-Za-z0-9\.\/]+', ' ', raw)
    raw = re.sub(r'(?::|;|=)(?:-)?(?:\)|\(|D|P)', ' ', raw)
#     raw = re.sub(r'[^a-zA-z0-9\s]', ' ', raw)
    return raw

In [76]:
tweets_cleaned = tweets_df.copy()

In [77]:
tweets_cleaned['Tweet'] = tweets_cleaned['Tweet'].apply(preprocessing)

In [78]:
tweets_cleaned.head()

                                               Tweet
0        I‚Äôm so glad these shots exist.  SnyderCut
1     Jack Snyder‚Äôs Justice League = ‚úîÔ∏è = ü§Øüôåüèªüëèüèª‚ù§Ô∏è...
2     Diana's heels must be one of the most sough...
3     Random Thought:\n\nGetting a second chance ...
4                Let's gooooo  SnyderCut  superman

In [65]:
tweets_cleaned.to_csv('snyderCutTweets.csv', index=False)